@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
  border: 0;
  padding: 0;
}
.linkHome{
  color:#CFB590;
}
.linkHome:link {
  text-decoration: none;
  color: #CFB590;
  }
.linkHome:hover {
  color: gray;
  }
.linkHome:active {
  text-decoration: none;
}

#header {
  width: 100%;
  padding: 30px 120px;
}
#estadia, #atracoes, #restaurantes{
	width: 100%;
  font-family: 'Open Sans', sans-serif;
  padding: 30px 0 80px 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
}
#estadia label{
	color: white;
}

.msg{
	color: white;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
.msg p{
	font-size: 20px;
	font-weight: 400;
	margin: 0;
}
.msg h2{
	margin: 0;
	font-size: 30px;
	font-weight: 900;
}
.msg h4 span{
  color: #69A84F;
}
.msg h2 span{
	color: #69A84F;
}
.btnRoteiro{
	background-color: #69A84F;
	color: white !important;
	margin-top: 15px;
	transition: background-color 0.5s;
	width: 100%;
}
.btnRoteiro:hover{
	color: white !important;
	background-color: #0B610B;
}
.form-control{
	font-size: 12px;
	width: 100%;
}
#banner{
	position: relative;
	background-image: url("https://images.pexels.com/photos/287240/pexels-photo-287240.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	padding: 20vh 0;
}
#banner .banner{
	background-color: rgba(105, 168, 79, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 20vh 0;
}
#banner .banner span{
	color: white;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 30px;
}
#roteirosPersonalizados{
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	background-color: #eee;
	padding: 50px 0;
}
#roteirosPersonalizados h2{
	margin: 0;
}
#hoteis{
	width: 100%;
	text-align: center;
	padding: 50px 0;
}
#hoteis .col-md-4{
	padding: 0 !important;
}
#hoteis h2{
	margin: 0;
}
hr{
	border: 1px solid rgba(88,179,43,1.00);
	width: 70%;
  margin-top: 7px;
}
footer{
	background-color: #0d6526;
	padding: 10px 0;
	color: white;
	text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#roteirosPersonalizados .col-md-4 .vdc{
	position: relative;
}
#roteirosPersonalizados .col-md-4:hover .envEmailRot{
	display: inline-block;
}
.envEmailRot{
	cursor: pointer;
	color: white;
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(11, 97, 11, 0.6);
	padding-top: 15%;
}
.envEmailRot >div{
	background-color: #69A84F;
	display: inline-block;
	border-radius: 50%;
	padding: 10px 0;
	width: 60px;
	text-align: center;
	font-size: 30px;
}
.envEmailRot >p{
	font-size: 14px;
	margin: 10px 0;
}
input[type=range] {
  height: 24px;
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FFFFFF;
  border-radius: 50px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #E3E3E3;
  height: 18px;
  width: 18px;
  border-radius: 26px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFFFFF;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FFFFFF;
  border-radius: 50px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #E3E3E3;
  height: 18px;
  width: 18px;
  border-radius: 26px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #FFFFFF;
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #FFFFFF;
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #E3E3E3;
  height: 18px;
  width: 18px;
  border-radius: 26px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FFFFFF;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FFFFFF;
}

.price{
	color: white;
	font-weight: 400;
}

input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px white;
  background: white;
  border-radius: 1px;
  border: 0px solid white;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px white;
  border: 1px solid white;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: white;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px white;
  background: white;
  border-radius: 1px;
  border: 0px solid white;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px white;
  border: 1px solid white;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: white;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: white;
  border: 0px solid white;
  border-radius: 2px;
  box-shadow: 0px 0px 0px white;
}
input[type=range]::-ms-fill-upper {
  background: white;
  border: 0px solid white;
  border-radius: 2px;
  box-shadow: 0px 0px 0px white;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px white;
  border: 1px solid white;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: white;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: white;
}
input[type=range]:focus::-ms-fill-upper {
  background: white;
}

/*menu de opções do ecoguide*/

.menu{
  text-align: center;
  padding: 0 0 30px 0;
  color: white;
}
.menu li{
  display: inline-block;
  padding: 10px 30px;
}
.menu .active{
  border-bottom: 2px solid rgba(88,179,43,1.00);
}

/* hoteis */
.hotel{
  margin-bottom: 30px;
}
.hotel .hovereffect img{
  width: 100%;
  height: 150px;
}
.hotel .infoHotel{
  height: 100px;
  overflow-y: scroll;
  background-color: white;
  padding: 5px;
  font-size: 12px;
}
/*teste*/

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0,0,0,0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  padding: 10px;
}

.hovereffect .info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 20px 0 0;
  padding: 7px 14px;
}

.hovereffect .info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover .info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover .info {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
#back{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: black url("../images/home.jpeg") center center no-repeat;;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-attachment: fixed;
}
.modal-content{
  border-radius: 0;
}
