<div id="estadia">
  <div class="menu">
    <div class="container">
      <ul>
        <li style="color: #444;">
          <i class="fa fa-globe" aria-hidden="true"></i> &nbsp&nbsp ESTADIA
        </li>
        <li class="active">
          <i class="fa fa-bed" aria-hidden="true"></i> &nbsp&nbsp HOTÉIS
        </li>
        <li>
          <i class="fa fa-cutlery" aria-hidden="true"></i> &nbsp&nbsp RESTAURANTES
        </li>
        <li>
          <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp&nbsp ATRAÇÕES
        </li>
        <li>
          <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp&nbsp ROTEIRO
        </li>
      </ul>
    </div>
  </div>
  <div style="text-align: center; margin-bottom: 60px;">
      <h1 style="font-family: 'Merriweather', serif; color: white; font-size: 48px; line-height: 48px; font-weight: 400;">FAÇA SEU ROTEIRO</h1>
      <p style="color: white; margin: 20px; font-family: 'Open Sans', sans-serif; font-size: 20px;">Escolha seu <b>hotel</b></p>
    </div>
  <div class="container">
    <div id="map"> </div>
      <div class="row">
        <div class="col-md-12" style="padding: 20px 65px">
            <div class="col-md-3 col-sm-3 col-xs-12 hotel" ng-repeat="h in hoteisDetalhe">
              <div class="hovereffect">
                <img ng-src="{{h.photos[0]}}" class="img-responsive">
                 <div class="overlay">
                   <h2>{{ h.name | limitTo: 15 }} ...</h2>
                   <a ui-sref="hoteis" ng-click="openModal(h)"><i class="fa fa-external-link info" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="modal-demo">
                <script type="text/ng-template" id="myModalContent1.html">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modal-title" style="font-family: 'Merriweather', serif;">{{$ctrl.hotel.name}}</h3>
                    </div>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="$index" ng-class="{active:!$index}" ng-repeat="h in  $ctrl.hotel.photos"></li>
                      </ol>

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" >
                        <div class="item" ng-repeat="photo in $ctrl.hotel.photos" ng-class="{active:!$index}">
                          <img ng-src="{{photo}}" style="width:100%; height: 200px;">
                        </div>
                      </div>

                      <!-- Left and right controls -->
                      <a class="left carousel-control" href="#myCarousel" data-slide="prev" target="_self">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel" data-slide="next" target="_self">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>

                    <div class="modal-body" id="modal-body" style="font-family: 'Open Sans', sans-serif;">
                      <p ng-show="$ctrl.hotel.rating"><b>Avaliação: </b><i class="fa fa-star" aria-hidden="true" style="color: yellow; font-size: 20px;text-align: center"></i>{{$ctrl.hotel.rating}}</p>
                      <p ng-show="$ctrl.hotel.formatted_address"><b>Endereço: </b>{{ $ctrl.hotel.formatted_address }}</p>
                      <p ng-show="$ctrl.hotel.formatted_phone_number"><b>Telefone: </b>{{ $ctrl.hotel.formatted_phone_number }}</p>
                      <p ng-show="$ctrl.hotel.website"><a href="{{ $ctrl.hotel.website }}" target="_blank">Visitar Website</a></p>
                    </div>
                    <div class="modal-footer">
                        <div class="botao5"><a ng-click="$ctrl.cancel()">Cancelar</a></div>
                        <div class="botao4"><a ui-sref="restaurantes" ng-click="$ctrl.selecionarHotel()">Selecionar</a></div>
                        <style type="text/css">
                          .botao4 a{
                          font-family: 'Merriweather', serif;
                            text-decoration: none;
                            background-color: rgba(88,179,43,1.00);
                            padding: 10px 20px;
                            color: white !important;
                            font-size: 17px;
                            display: inline-block;
                          }
                           .botao4 a:hover{
                            color: white !important;
                            background-color: rgba(71,155,30,1.00);
                            cursor: pointer;
                          }
                          .botao5 a{
                          font-family: 'Merriweather', serif;
                            text-decoration: none;
                            background-color: #c9302c;
                            padding: 10px 20px;
                            color: white !important;
                            font-size: 17px;
                            display: inline-block;
                          }
                           .botao5 a:hover{
                            color: white !important;
                            background-color: #c82333;
                            cursor: pointer;
                          }
                        </style>
                    </div>
                  </script>
                <div class="modal-parent"></div>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>