<div id="restaurantes">
  <div class="menu">
    <div class="container">
      <ul>
        <li style="color: #444;">
          <i class="fa fa-globe" aria-hidden="true"></i> &nbsp&nbsp ESTADIA
        </li>
        <li style="color: #444;">
          <i class="fa fa-bed" aria-hidden="true"></i> &nbsp&nbsp HOTÉIS
        </li>
        <li class="active">
          <i class="fa fa-cutlery" aria-hidden="true"></i> &nbsp&nbsp RESTAURANTES
        </li>
        <li>
          <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp&nbsp ATRAÇÕES
        </li>
        <li>
          <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp&nbsp ROTEIRO
        </li>
      </ul>
    </div>
  </div>
  <div style="text-align: center; margin-bottom: 60px;">
      <h1 style="font-family: 'Merriweather', serif; color: white; font-size: 48px; line-height: 48px; font-weight: 400;">FAÇA SEU ROTEIRO</h1>
      <p style="color: white; margin: 20px; font-family: 'Open Sans', sans-serif; font-size: 20px;">Escolha seus <b>restaurantes</b></p>
    </div>
  <div class="container">
    <div class="col-sm-8 col-xs-12">
      <div class="row">
        <div class="col-md-12" style="padding: 20px 65px">
            <div class="col-md-4 col-sm-4 col-xs-12 hotel" ng-repeat="r in restaurantesDetalhe">
              <div class="hovereffect">
                <img ng-src="{{r.photos[0]}}" class="img-responsive">
                 <div class="overlay">
                   <h2>{{r.name | limitTo: 15 }} ...</h2>
                   <a ui-sref="restaurantes" ng-click="selecionarRestaurante(r)"><i class="fa fa-external-link info" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="modal-demo">
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title" style="font-family: 'Merriweather', serif;">{{ $ctrl.restaurante.nome }}</h3>
                </div>

                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="$index" ng-class="{active:!$index}" ng-repeat="r in  $ctrl.restaurante.photos"></li>
                      </ol>

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" >
                        <div class="item" ng-repeat="photo in $ctrl.restaurante.photos" ng-class="{active:!$index}">
                          <img ng-src="{{photo}}" style="width:100%; height: 200px;">
                        </div>
                      </div>

                      <!-- Left and right controls -->
                      <a class="left carousel-control" href="#myCarousel" data-slide="prev" target="_self">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel" data-slide="next" target="_self">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                <div class="modal-body" id="modal-body" style="font-family: 'Open Sans', sans-serif;">
                    <p ng-show="$ctrl.restaurante.rating"><b>Avaliação: </b><i class="fa fa-star" aria-hidden="true" style="color: yellow; font-size: 20px;text-align: center"></i>{{$ctrl.restaurante.rating}}</p>
                    <p ng-show="$ctrl.restaurante.logradouro"><b>Endereço: </b>{{ $ctrl.restaurante.logradouro }}</p>
                    <p ng-show="$ctrl.restaurante.telefone"><b>Telefone: </b>{{ $ctrl.restaurante.telefone }}</p>
                    <p ng-show="$ctrl.restaurante.website"><a href="{{ $ctrl.restaurante.website }}" target="_blank">Visitar Website</a></p>
                    <div class="row">
                      <div class="col-lg-6">
                        <label>Escolha o dia:</label>
                        <select class="form-control" ng-model="$ctrl.dia" style="height: 35px;">
                          <option ng-repeat="data in $ctrl.datas" value="{{data}}">{{data}}</option>
                        </select>
                      </div>
                      <div class="col-lg-6">
                        <label>Escolha o horário:</label>
                        <select class="form-control" ng-model="$ctrl.mytime" ng-disabled="!$ctrl.dia"  style="height: 35px;">
                          <option value="07:00" ng-show="$ctrl.selectHorario('07:00')">Café</option>
                          <option value="12:00" ng-show="$ctrl.selectHorario('12:00')">Almoço</option>
                          <option value="19:00" ng-show="$ctrl.selectHorario('19:00')">Janta</option>
                        </select>
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="botao5"><a ng-click="$ctrl.cancel()">Cancelar</a></div>
                        <div class="botao4"><a ng-click="$ctrl.addList()">Adicionar</a></div>
                        <style type="text/css">
                          .botao4 a{
                          font-family: 'Merriweather', serif;
                            text-decoration: none;
                            background-color: rgba(88,179,43,1.00);
                            padding: 10px 20px;
                            color: white !important;
                            font-size: 17px;
                            display: inline-block;
                          }
                           .botao4 a:hover{
                            color: white !important;
                            background-color: rgba(71,155,30,1.00);
                            cursor: pointer;
                          }
                          .botao5 a{
                          font-family: 'Merriweather', serif;
                            text-decoration: none;
                            background-color: #c9302c;
                            padding: 10px 20px;
                            color: white !important;
                            font-size: 17px;
                            display: inline-block;
                          }
                           .botao5 a:hover{
                            color: white !important;
                            background-color: #c82333;
                            cursor: pointer;
                          }
                        </style>
                </div>
            </script>
            <div class="modal-parent"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div style="text-align: center;"><label style="color: white; font-size: 18px;">RESTAURANTES ESCOLHIDOS</label><hr></div>
      <table class="table table-condensed" style="color: white; font-size: 14px;">
        <thead>
          <tr>
            <th>Data</th>
            <th>Restaurante</th>
            <th>Horário</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in datas">
            <td>{{data}}</td>
            <td>
              <p ng-repeat="r in infoUser.restaurantes" ng-show="r.dia_escolhido==data">{{r.nome | limitTo: 15 }} ...</p>
            </td>
            <td>
              <p ng-repeat="r in infoUser.restaurantes" ng-show="r.dia_escolhido==data">
                <span ng-show="r.horario_escolhido=='07:00'">Café</span>
                <span ng-show="r.horario_escolhido=='12:00'">Almoço</span>
                <span ng-show="r.horario_escolhido=='19:00'">Janta</span><br></p>
            </td>
            <td>
              <p ng-repeat="r in infoUser.restaurantes" ng-show="r.dia_escolhido==data"><a href="" ng-click="editarRestaurante(r)"><i class="glyphicon glyphicon-edit" style="color: white;"></i></a></p>
            </td>
            <td>
              <p ng-repeat="r in infoUser.restaurantes" ng-show="r.dia_escolhido==data"><a href="" ng-click="removerRestaurante(r)"><i class="glyphicon glyphicon-remove" style="color: white;"></i></a></p>
            </td>
          </tr>
        </tbody>
      </table>
      <div style="text-align: center;" class="botao3"><a  ng-click="changePage()" style="margin-top: 10px;">Próxima Etapa</a></div>
        <style type="text/css">
          .botao3 a{
          font-family: 'Merriweather', serif;
            text-decoration: none;
            background-color: rgba(88,179,43,1.00);
            padding: 10px 20px;
            color: white !important;
            font-size: 17px;
            display: inline-block;
            width: 100%;
          }
           .botao3 a:hover{
            color: white !important;
            background-color: rgba(71,155,30,1.00);
            cursor: pointer;
          }
        </style>
    </div>
  </div>
</div>